@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@600&family=Patua+One&display=swap');


body {
    background-image: url("Background.jpg"); 
    
}

.text{
    color:#6c5ce7;
    font-family: 'Encode Sans', sans-serif;
    text-align: center;
    font-size: 270%;
    position: relative;
    top: 6vh;
}

.spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-bottom: 16px solid #FC427B;
    border-radius: 45%;
    border-top: 16px solid #ff8300;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

